/*-------------------
    RESET
-------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------------
   BODY
-------------------*/
body {
    font-family: 'Cabin', sans-serif;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    min-width: 80%;
    display: flex;
}

/*-------------------
   HEADER
-------------------*/
nav {
    background-color: #3161e0;
    display: flex;
    justify-content: center;
    padding: 8px 0;
}
.logo {
    text-align: left;
    width: 25%;
}
.link {
    text-align: center;
    width: 50%;
   
}
ul li {
    list-style-type:none;  
}
li a {
    text-decoration: none;
    color: white;
}
.login {
    text-align: right;
    width: 25%;
}
.btn{
    padding: 10px 8px;
    border-radius: 16px;
    border: 0;
    font-family: inherit
}
.btn-white{
    background-color: white;
    color: black;
}
.btn-black {
    background-color: black;
    color: white;
}
header section {
    background-image: url(./img/jumbo.png);
    width: 100%;
}
.headdiv {
    min-height: 400px;
    margin: 0 auto;
    width: 60%;
}
.headdiv h1{
    color: white;
    font-size: 50px;
    text-align: center;
    padding: 20px 0;
}
.headdiv p{
    color: white;
    text-align: center;
    padding-top: 40px;
    font-size: large;
}
.header-buttons{
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: large;

}
/*-------------------
   MAIN
-------------------*/
main section {
    display: flex;
    padding: 20px 0;
}
.white {
    background-color: white;
}
.grey {
    background-color: lightgray;
}
.rectangle {
    min-height: 300px
}
.lightblue {
    background-color: lightblue;
    width: 66.66%
}
.pink{
    background-color: pink;
    width: 33.33%;
}
.bigrectangle {
    min-height: 600px;
    background-color: green;
    width: 100%;
}

/*-------------------
   FOOTER
-------------------*/
footer section{
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
}
.top-footer {
    padding-top: 4px;
    padding-bottom: 8px;
}
.small {
    width: 30%;
    background-color: salmon;
}
.large {
    width: 70%;
    background-color: aqua;
    display: flex;
}
.rectangle .smaller {
    width: 25%;
    border: 2px dashed white;
}
.bottom-footer {
    padding-top: 6px;
    border-top: 1px solid grey;
}
.bottom {
    display: flex;
    background-color: aquamarine;
    padding: 4px;
    width: 100%;
    justify-content: space-between;
}
.logo-finale {
    border: 2px dashed black;
    background-color: salmon;
}
/* /* .btn {
    background-color: salmon;
    border: 2px dashed black;
} */
