/*-------------------
    RESET
-------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------------
   BODY
-------------------*/
body {
    font-family: 'Cabin', sans-serif;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    min-width: 80%;
    display: flex;
}

/*-------------------
   HEADER
-------------------*/
nav {
    background-color: #3161e0;
    display: flex;
    justify-content: center;
    padding: 8px 0;
}
.logo {
    text-align: left;
    width: 25%;
}
.link {
    text-align: center;
    width: 50%;
}
.link ul{
    display: flex;
    justify-content: center;
}
.link ul li{
    padding: 0 10px;
}
ul li {
    list-style-type:none;  
}
li a {
    text-decoration: none;
    color: white;
}
.login {
    text-align: right;
    width: 25%;
}
.btn{
    padding: 10px 8px;
    border-radius: 16px;
    border: 0;
    font-family: inherit
}
.btn-white{
    background-color: white;
    color: black;
}
.btn-black {
    background-color: black;
    color: white;
}
.btn-purple {
    background-color: #8ea1e1;
    color: white;

}
header section {
    background-image: url(./img/jumbo.png);
    width: 100%;
}
.headdiv {
    min-height: 400px;
    margin: 0 auto;
    width: 60%;
}
.headdiv h1{
    color: white;
    font-size: 50px;
    text-align: center;
    padding: 20px 0;
}
.headdiv p{
    color: white;
    text-align: center;
    padding-top: 40px;
    font-size: large;
}
.header-buttons{
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: large;

}
/*-------------------
   MAIN
-------------------*/
main section {
    display: flex;
    padding: 20px 0;
}
.white {
    background-color: white;
}
.grey {
    background-color: #f6f6f6;
}
.rectangle {
    min-height: 300px;
    margin: 60px 0;
}
.lightblue {
    width: 65%;
    vertical-align: text-top;
}
.pink{
    width: 35%;
    vertical-align: text-top;
}
h2{
    font-size: 50px;
}
h3{
    font-weight: 600;
    font-size: 30px;
}
footer h3{
    color: #8ea1e1;
}
.paragraph-main {
    padding: 20px;
    font-size: 20px;
}
.bigrectangle {
    min-height: 600px;
    width: 100%;
    margin-bottom: 40px;
}
.last-section {
    display: flex;
    justify-content: center;
}
.last-section > div {
    padding-top: 30px ;
    background-image: url(./img/stars.svg);
    background-image: cover;
}
.btn-final{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
/*-------------------
   FOOTER
-------------------*/
footer section{
    background-color: #23272a;
    display: flex;
}
.top-footer {
    padding-top: 4px;
    padding-bottom: 8px;
}
.small {
    width: 30%;
}
.language{
    color: white;
    font-size: 16px;
    padding: 14px 0;
}
.language img{
    height: 16px;
}
.small span{
    color: white;
    padding: 0 10px;
}
.small span (:first-child){
    padding: 0;
}
.large {
    width: 70%;
    display: flex;
}
.rectangle .smaller {
    width: 25%;
    margin: 0;
}
h4 {
    color: #8ea1e1;
    margin-bottom: 15px;
}
.rectangle .smaller li{
    padding: 8px 0;
}
.bottom-footer {
    padding-top: 6px;
    border-top: 1px solid grey;
}
.bottom {
    display: flex;
    background-color: aquamarine;
    padding: 4px;
    width: 100%;
    justify-content: space-between;
}
.logo-finale {
    border: 2px dashed black;
    background-color: salmon;
}
/* /* .btn {
    background-color: salmon;
    border: 2px dashed black;
} */
